@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Kanit', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    background: rgb(255, 168, 181);
    min-height: 90vh;
}

.container{
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    padding: 30px;
    width: 100%;
}

.wrapper{
    border-radius: 8px;
    border: 1px solid #ccc;
}

.wrapper .text-input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}